// #body{
//   background-image: url("https://www.investopedia.com/thmb/BJllWaCIgiGkw_DbK7UrzQ_WXFg=/1920x1080/filters:fill(auto,1)/healthcare-data-7e64c1e9b49146e588e5e5dee43a12b4.jpg");
//   width: 100%;
//   height: 500%;
// }

// .img{
//     max-width: 100;
//     height: auto;
// }

// .cont1{
//     background-image: url('assets\image30.png');
// }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }