<div class="container" id="cont1">
    <div class="container" >

        <h1 class="fw-light text-center text-lg-start mt-4 mb-0">WELCOME TO HEALTH CLUB</h1>

        <hr class="mt-2 mb-5">

        <div class="row text-center text-lg-start" id="body">

            <div class="container">

                <div class="box">
                  <img id="img3" src="assets\image20.png">
                </div>
            
                
              </div>
            
            </div>
            
            <br>
            
            <br>
         </div>
    </div>
